[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/umesh.sp22@gmail.com (gagansp)
[access "refs/for/refs/*"]
	read = group user/umesh.sp22@gmail.com (gagansp)
	push = group user/umesh.sp22@gmail.com (gagansp)
	label-Code-Review = -2..+2 group user/umesh.sp22@gmail.com (gagansp)
	label-Verified = -1..+1 group user/umesh.sp22@gmail.com (gagansp)
	rebase = group user/umesh.sp22@gmail.com (gagansp)
	removeReviewer = group user/umesh.sp22@gmail.com (gagansp)
	submit = group user/umesh.sp22@gmail.com (gagansp)
[access "refs/heads/*"]
	read = group user/umesh.sp22@gmail.com (gagansp)
	create = group user/umesh.sp22@gmail.com (gagansp)
	push = +force group user/umesh.sp22@gmail.com (gagansp)
	pushMerge = group user/umesh.sp22@gmail.com (gagansp)
[access "refs/tags/*"]
	push = group user/umesh.sp22@gmail.com (gagansp)
	push = +force group user/umesh.sp22@gmail.com (gagansp)
[receive]
	requireChangeId = false
